src/*.exe
src/ripoffcoin
src/ripoffcoind
src/test_ripoffcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.ripoffcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
ripoffcoin-qt
ripoffcoin-Qt.app

# Unit-tests
Makefile.test
ripoffcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
